html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  filter: invert(1) hue-rotate(0.5turn);
  background-color: white;
}

img,
image {
  filter: invert(1) hue-rotate(0.5turn);
  max-width: 100%;
  max-height: 100%;
}

a:link {
  color: #2c8dc2 !important;
}

/* @font-face {
  font-family: "Literata";
  src: url("./fonts/Literata-VariableFont_opsz,wght.ttf");
} */

* {
  word-wrap: break-word !important;
}
