html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  filter: invert(1) hue-rotate(0.5turn);
  background-color: white;
}

img,
image {
  filter: invert(1) hue-rotate(0.5turn);
  max-width: 100%;
  max-height: 100%;
}

a:link,
a:visited {
  color: #2c8dc2 !important;
}

* {
  word-wrap: break-word !important;
}

@font-face {
  font-family: "Literata";
  src: url("/_fonts/variable/Literata.ttf");
}

@font-face {
  font-family: "EBGaramond";
  src: url("/_fonts/variable/EBGaramond.ttf");
}
