html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* @font-face {
  font-family: "Literata";
  src: url("./fonts/Literata-VariableFont_opsz,wght.ttf");
} */

body {
  color: white;
  background-color: black;
}

* {
  word-wrap: break-word !important;
}
